<link href="public/system/assets/css/login.css" rel="stylesheet">

<section class="main content-section-register">

        <div data-ng-controller="RegisterCtrl" class="row">
            <div ng-repeat="error in registerError">
                <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
            </div>
            <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>
            
            <form ng-submit="register()" class="form-horizontal col-md-4">
                <div class="text-left"><h1>Register</h1></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="username" type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="firstName" type="text" name="firstName" placeholder="First Name" class="form-control" ng-model="user.firstName"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="lastName" type="text" name="lastName" placeholder="Last Name" class="form-control" ng-model="user.lastName"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="address" type="text" name="address" placeholder="Address" class="form-control" ng-model="user.address"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="phone" type="text" name="phone" placeholder="Phone" class="form-control" ng-model="user.phone"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" ng-model="user.confirmPassword"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Sign up</button>&nbsp;
                        or&nbsp;<a ui-sref='auth.login' class="show-login">Sign in</a>
                    </div>
                </div>
            </form>
        </div>

</section>