body {
    width: 90%;
    height: 100%;
    background-color: #f5f5f5;
    background: url(../img/aboutUs_background.jpg) no-repeat bottom center scroll;
    background-size: 100% 100%;
    color: #ffffff
}

.modal {
    color: #000000
}
