<div ng-controller="ProfileCtrl">

    <div class="row">
      <h1 class="section-header">Edit profile</h1>  
      <hr>
    </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-content">
              <table class="table beauty-table table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-3">&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Username:</td>
                    <td>{{_user.name}}</td>
                  </tr>
                  <tr>
                    <td>First Name:</td>
                    <td><input id="firstNameField" type="text" value="{{_user.firstName}}"
                                ng-model="user.firstName"></td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td><input id="lastNameField" type="text" value="{{_user.lastName}}"
                                ng-model="user.lastName" /></td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{_user.email}}</td>
                  </tr>
                  <tr>
                    <td>Address:</td>
                    <td><input id="addressField" type="text" value="{{_user.address}}"
                                ng-model="user.address"></td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td><input id="phoneField" type="text" value="{{_user.phone}}"
                                ng-model="user.phone"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              
            <div class="box-content">
              <table class="table beauty-table table-hover">
                <thead>
                  <tr>
                    <th class="col-xs-3">&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>New Password:</td>
                    <td><input type="password" value="**********" ng-model="user.password"></td>
                  </tr>
                  <tr>
                    <td>Repeat New Password:</td>
                    <td><input type="password" value="**********" ng-model="user.confirmPassword"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="controls-group row">
            <button type="button" class="btn btn-success btn-sm" ui-sref="dashboard.userProfile"
                      ng-click="updateProfile(user)" >
              <span class="glyphicon glyphicon-floppy-saved"></span> Save
            </button>
            <button type="button" class="btn btn-danger btn-sm" ui-sref="dashboard.userProfile"
                      ng-click="cancelOperation(user)">
              <span class="glyphicon glyphicon-trash"></span> Cancel
            </button>
          </div>
        </div>
      </div>   
  </div>

</div>