<!--<script type="text/javascript">
  function fill (){
    $.get('/api/user/' + document.getElementById('iddi').innerHTML)
      .success(function(data){

        data.payload.roles.forEach(function(entry) {
            if (data.payload.roles.indexOf("Licensed") > -1) {
                var e = document.getElementById('main');
                e.visibility = "visible";
            } 
            ;        
        });
        

      });
  };
</script>

<div hidden id="main" class="col-lg-11">-->
<!--<div class="col-lg-11" ng-show="user.isLicensed">-->
<div class="col-lg-11">

<h1 hidden id="iddi">{{global.user._id}}</h1>

<div class="row">
  <h1 class="section-header">Execute Query</h1>  

  <hr>
</div>

<script type="text/javascript">
   function changeLabel(value) {
       var e = document.getElementById('search_concept');
       e.innerHTML = value;
   }

   function changeLabel2(value) {
       var e = document.getElementById('refine_value');
       e.innerHTML = value;
   }
</script>

<ul class="nav nav-tabs" ng-controller="ExecuteQueryCtrl">
      <li class="text-left"><a href="#basic" data-toggle="tab" ng-click="clear()">Basic SNPs Search</a></li>
      <li class="text-left"><a href="#complex" data-toggle="tab" ng-click="clear()">Range SNPs Search</a></li>

    </ul>

    <!-- First tab -->
    <div id="myTabContent" class="tab-content" ng-controller="ExecuteQueryCtrl">
      <div class="tab-pane active in" id="basic">
        <div class="row bot15">
                <div id="custom-search-input">
                <h4>Choose what to search and then insert keywords:</h4>
                <div class="input-group col-md-6">
                  <div class="input-group">
                    <div class="input-group-btn search-panel">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Search by...</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#patient" ng-click="elValue('patient')" onClick="changeLabel('Patient')">Patient</a></li>
                        <li><a href="#gene" ng-click="elValue('gene')" onClick="changeLabel('Gene')">Gene</a></li>                                               
                        <li><a href="#region" ng-click="elValue('region')" onClick="changeLabel('Region')">Region</a></li>
                        <li><a href="#mutation"  ng-click="elValue('mutation')" onClick="changeLabel('Mutation')">Mutation</a></li>
                        <li><a href="#genotype"  ng-click="elValue('genotype')" onClick="changeLabel('Genotype')">Genotype</a></li>
                        <li><a href="#freqAlt"  ng-click="elValue('freqAlt')" onClick="changeLabel('Freq alt')">Freq alt</a></li>
                        <li><a href="#dbsnp"  ng-click="elValue('dbsnp')" onClick="changeLabel('dbSNP')">dbSNP</a></li>
                      </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param" />         
                    <input id = "key" ng-model="query.keyword" type="search" class="search-query form-control" placeholder="Type Here" />                   
                    <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" ng-click="submitBase()">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>


        <div class="row" style="margin-top: 30px">
            <h4>Results:</h4>
        <h4 ng-hide="elements.length"> No Results! </h4>
          <div class="well" ng-show="elements && elements.length">
            <table class="table">
              <thead>
                <tr>
                  <th>Chr</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Ref</th>
                  <th>Alt</th>
                  <th style="width: 75px;"></th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="el in elements"> 
                  <td>{{el.chr}}</td>
                  <td>{{el.start}}</td>
                  <td>{{el.end}}</td>
                  <td>{{el.ref}}</td>
                  <td>{{el.alt}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-ng-hide="user.isLicensed"
                    data-toggle="modal" data-target="#myModalLicensed">
                    <span class="glyphicon glyphicon-eye-open"></span> View
                    </button> 
                  <br/> 
                  </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- First tab end -->



      <!-- Second tab -->
      <div class="tab-pane fade" id="complex">
      <div class="tab-pane active in" id="basic">

        <div>
            <div class="tab-pane" id="region">
            <div class="row bot15">
                      <div id="custom-search-input">
                      <h4>Insert required fields:</h4>
                      <div class="input-group col-md-12">
                        <div class="input-group">
                          <div class="input-group-btn search-panel">
                            <input type="text" ng-model="chr" class="form-control" name="x" placeholder="chr">
                          </div>
                          <div class="input-group-btn search-panel">
                            <input type="text" ng-model="start" class="form-control" name="x" placeholder="start">
                          </div>
                          <div class="input-group-btn search-panel">
                            <input type="text" ng-model="end" class="form-control" name="x" placeholder="end">
                          </div>
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" ng-click="submitByRegion()">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                          </span>                    
                        </div>
                        </div>
                      </div>
                    </div>

                    <div class="row input-group-btn search-panel">
                      <div id="value" class="col-md-4">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="refine_value">Refine by...</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="elValue('patient')" onClick="changeLabel2('dnSNP not specified'); document.getElementById('valueFreq').style.display='none';">dnSNP not specified</a></li>
                        <li><a ng-click="elValue('gene')" onClick="changeLabel2('FreqRef smaller than...'); document.getElementById('valueFreq').style.display='block';">FreqRef smaller than...</a></li>
                        <li><a ng-click="elValue('gene')" onClick="changeLabel2('FreqAlt smaller than...'); document.getElementById('valueFreq').style.display='block';">FreqAlt smaller than...</a></li>
                      </ul>
                    </div>

                    <div style="display:none;" id="valueFreq" class="col-md-4">
                      <input type="text" class="form-control" placeholder="value">
                    </div>

                  </div>

                   <div class="row" style="margin-top: 30px">
            <h4>Results:</h4>
        <h4 ng-hide="elements.length"> No Results! </h4>
          <div class="well" ng-show="elements && elements.length">
            <table class="table">
              <thead>
                <tr>
                  <th>Chr</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Ref</th>
                  <th>Alt</th>
                  <th style="width: 75px;"></th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="el in elements"> 
                  <td>{{el.chr}}</td>
                  <td>{{el.start}}</td>
                  <td>{{el.end}}</td>
                  <td>{{el.ref}}</td>
                  <td>{{el.alt}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-ng-hide="user.isLicensed"
                    data-toggle="modal" data-target="#myModalLicensed">
                    <span class="glyphicon glyphicon-eye-open"></span> View
                    </button> 
                  <br/> 
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
            </div>

        </div>
      </div>
      </div>
      <!-- Second tab end -->

  </div>
</div>
