<div ng-controller="FamilyCtrl" ng-show="global.user.roles.indexOf('admin') > -1">

  <div class="row">

    <h1 class="section-header">Families</h1>  

    <hr>
  </div>

      
      <div class="row bot10" id="operation">
        <div class="col-md-6">
          <div class="input-group col-md-8">
            <input type="search" class="search-query form-control" placeholder="Type here"
              ng-model="searchFamily" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>

        <div class="controls-group col-md-5 pull-right">
          <button type="button" class="btn btn-secondary btn-sm" ui-sref="dashboard.outPatients">
            <span class="fa fa-users fa-fw"></span>Patients without a family
          </button>

          &nbsp;|&nbsp; <!-- Vertical divider -->

          <button type="button" class="btn btn-success btn-sm" 
                  data-toggle="collapse" data-parent="#operation" href="#formInsert">
            <span class="glyphicon glyphicon-plus"></span> Add new
          </button>

          <button id="btn_edit" type="button" class="btn btn-primary btn-sm" ng-click="showEditFamily = !showEditFamily"  href="#patientsPanel">
            <div ng-show="!showEditFamily"><span class="glyphicon glyphicon-pencil"></span> Edit</div>
            <div ng-show="showEditFamily"><span class="glyphicon glyphicon-floppy-save"></span>Finish</div>
          </button>

          <!--
          <button id="btn_finish" type="button" class="btn btn-primary btn-sm" ng-click="finishedOperation()"
                  ng-disabled="!showEditFamily">
            <span class="glyphicon glyphicon-ok" href="#patientsPanel"></span> Finish
          </button>-->
        </div>
      </div>

      <!-- appearance panel -->
      <div id="formInsert" class="top10 bot10 panel-collapse collapse out row col-md-6 col-md-offset-3 text-center panel panel-primary appearance">

        <h4>Create family</h3>

        <div class="panel-body">
          <form class="form-horizontal">
            <fieldset>

              <div class="control-group">
                <label class="control-label" for="nameFamily">Name</label>
                <div class="controls">
                  <input id="nameFamily" name="nameFamily" type="text" placeholder="" class="form-control input-xlarge" ng-model="family.name">
                </div>
              </div>

              <div class="control-group top10">
                <div class="controls">
                  <button id="save_btn" name="save_btn" class="btn btn-success" ng-click="createFamily(family)">Save</button>
                  <button id="cancel_btn" name="cancel_btn" class="btn btn-danger" ng-click="cancel()">Cancel</button>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>

      <div id="patientsPanel" class="top10 bot10 panel-collapse collapse out row appearance">
        <div class="panel panel-primary col-md-6">
          <h4>Patients with no family</h3>

         <ul class="list-group">
            <li class="list-group-item" ng-repeat="patient in outPatients">
              <div class="row">
                  <div class="pull-left">{{ patient.name }}</div>
                  <div class="pull-right">  
                    <button type="button" class="btn btn-success btn-sm" ng-click="addPatient(patient)">
                            <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </div>
              </div>
            </li>
          </ul>

        </div>

        <div class="panel panel-primary col-md-6">
          <h4>Patients in family</h3>

          <ul class="list-group" >
              <li class="list-group-item" ng-repeat="patient in inPatients">
                <div class="row">
                  <div class="pull-left">{{ patient.name }}</div>
                  <div class="pull-right">  
                    <button type="button" class="btn btn-danger btn-sm" ng-click="removePatient(patient)">
                            <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </li>
          
          </ul>
        </div>
      </div>

      <div id="showPanel" class="top10 bot10 panel-collapse collapse out row appearance">
        <div class="panel panel-primary col-md-6 col-md-offset-3">
          <h4>Panel in family</h3>
            <table class="table table-bordered pull-center">
              <thead>
                <tr class=""> 
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="patient in inPatients">
                  <td>{{ patient.name }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

      <!-- style="height: 500px; overflow-y: auto; margin-top: 50px" -->
      <div class="row" >
          <div>
            <table class="table table-bordered" ng-show="showEditFamilies(!showEditFamily)">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Members</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="family in families | filter:searchFamily "> 
                    <td>{{ family.name }}</td>
                    <td id="parents">
                      <button type="button" class="btn btn-default btn-sm col-md-3 col-md-offset-4" 
                              ng-click="showPatients(family)" 
                              data-toggle="collapse" data-parent="#parents" href="#showPanel">
                              <span class="glyphicon glyphicon-user"></span> Show Patients
                      </button>
                    </td>                  
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered" ng-show="showEditFamilies(showEditFamily)">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="family in families | filter:searchFamily "> 
                    <td>
                      <div>{{ family.name }}</div>
                      <!--
                      <input id="nameUpdate" name="nameUpdate" type="text" value="{{ family.name }}" class="form-control input-xlarge" ng-model="familyUpdate.name" ng-show="showConfirm">-->
                    </td>
                    <td>
                      <div class="control-group pull-right" ng-show="!showConfirm">
                        <div class="controls" id="controlsBtn">
                          <!--<button type="button" class="btn btn-success btn-sm" ng-click="showConfirm = !showConfirm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit Name
                          </button>-->
                          <button type="button" class="btn btn-primary btn-sm" 
                                  data-toggle="collapse" data-parent="#controlsBtn" href="#patientsPanel"
                                  ng-click="showPatients(family)">
                            <div ><span class="glyphicon glyphicon-pencil"></span> Edit Patients</div>
                            <!--<div ng-show="showEditFamily"><span class="glyphicon glyphicon-pencil"></span> Finishs Patents</div>-->
                          </button>
                          <button type="button" class="btn btn-danger btn-sm" ng-click="removeFamily(family)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                          </button>
                        </div>
                      </div>

                      <div class="control-group pull-right" ng-show="showConfirm">
                        <div class="controls">
                          <button type="button" class="btn btn-success btn-sm" ng-click="updateFamily(family, familyUpdate)">
                            <span class="glyphicon glyphicon-floppy-save"></span> OK
                          </button>
                          <button type="button" class="btn btn-danger btn-sm" ng-click="showConfirm = false">
                            <span class="glyphicon glyphicon-ban-circle" ></span> Cancel
                          </button>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
</div>