<link rel="stylesheet" type="text/css" href="/public/dashboard/assets/css/dropzone/basic.css">
<!--<link rel="stylesheet" type="text/css" href="/public/dashboard/assets/css/dropzone/dropzone.css">-->

<div flow-init="" flow-files-submitted="$flow.upload()" class="ng-scope">
  <div class="drop" flow-drop="" ng-class="dropClass">
    <span class="btn btn-default" flow-btn="">Upload File<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
    <span class="btn btn-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;"></span>
    <b>OR</b>
    Drag And Drop your file here
  </div>

  <br>

  <div class="well">
    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause all</a>
    <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel all</a>
    <span class="label label-info ng-binding">Total Size: 0bytes</span>
  </div>

  <div>

    <!-- ngRepeat: file in $flow.files -->
  </div>
</div>

  <!--<script type="text/javascript" src="/public/dashboard/assets/js/angular-file-upload.min.js"></script>-->
  <script src="/public/dashboard/assets/js/ng-flow-standalone.js"></script>

