<div >

<div class="row">
  <h1 class="section-header">Home</h1>  

  <hr>
</div>

<div class="row user-menu-container square" ng-controller="ProfileCtrl">
    <div class="col-md-12 user-details">
        <div class="row coralbg white" style="margin-top: 30px">
            <div class="col-md-6 no-pad">
                <div class="user-pad" style="margin-left: 30px">
                    <h3>Welcome back, </h3><h1>{{global.user.username}}</h1>
                    
                    <h4 style="margin-top: 75px"><span class="fa fa-lightbulb-o"></span>&nbsp;<b>TIP</b>: Click on a button in the sidebar to start.</h4>

                </div>
            </div>
            <div class="col-lg-6 no-pad">
                <div class="user-image">
                    <span gravatar name="{{ global.user.name }}" email-hash="{{ emailHash }}" width="300" height="300"></span>
                </div>

                <a style="align-right" data-toggle="modal" data-target="#myModal">
                    How can I set my profile picture?
                </a>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">              
              <div class="modal-body">
                <div class="alert-message alert-message-info">
                    <h4>
                        How can I set my profile picture?</h4>
                    <p>
                        In this application are used <b>Gravatar</b>. A Gravatar is an image that follows you from site to site and will appear next to your name being associated to your email address.<br>
                        To change your profile picture, sign up on Gravatar.com (<a href="https://gravatar.com/" target="_blank">link</a>) using the email address you use to log on to this platform, or, if you are already registered, you can simply change your Gravatar image at <a href="https://gravatar.com/emails/" target="_blank">this link</a>.
                    </p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>

</div>

<style>
.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
</style>
