
<style type="text/css">
.gridStyle {
    border: 1px solid rgb(212,212,212);
    overflow-y: auto;
    height: 210px;

}
</style>


<div id="main" class="col-lg-11" ng-controller="SequencingEditCtrl" ng-show="global.user.roles.indexOf('admin') > -1">
  <!--<div class="col-md-12" ng-show="user.isAdmin">-->
  <div class="row">
    <h1 class="section-header">Sequencing edit</h1> 

    <hr>
  </div>


  <div class="row"> 
 
    <div class="gridStyle" ng-grid="gridOptions">
    </div>

    <button id="btn_save" type="button" class="btn btn-success btn-xs top15"
          ng-click="saveOnServer()">
      <span class="glyphicon glyphicon-upload"></span> Save on Server
    </button>

    <!--
    <div>
      {{ myData }}
    </div>-->
  
  </div>

</div>






