<link href="public/system/assets/css/dashboard.css" rel="stylesheet">


<div class="row">
  <h1 class="section-header">Sequencing details</h1> 

  <button type="button" class="btn btn-primary btn-sm" ui-sref="dashboard.sequencingEdit" style="float: right">
    <span class="glyphicon glyphicon-edit"></span> Edit
  </button>
  <hr>
</div>

<div class"box" ng-controller="UploaderCtrl">
    <ul class="nav nav-tabs">
      <li class="text-left"><a href="#sequencing" data-toggle="tab">Sequencing</a></li>
      <li class="text-left"><a href="#variant" data-toggle="tab">Variant</a></li>
      <li class="text-left"><a href="#pathogenicity" data-toggle="tab">Pathogenicity</a></li>
      <li class="text-left"><a href="#gene" data-toggle="tab">Gene</a></li>
      <li class="text-left"><a href="#esp" data-toggle="tab">ESP</a></li>
      <li class="text-left"><a href="#dbsnp" data-toggle="tab">dbSNP</a></li>
      <li class="text-left"><a href="#patient" data-toggle="tab">Patient</a></li>
      <li class="text-left"><a href="#family" data-toggle="tab">Family</a></li>



    </ul>

    <div id="myTabContent" class="tab-content">
      
      <!-- Sequencing -->
      <div class="tab-pane active in" id="sequencing">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th class="text-center">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeate="(key,value) in jsonUpload">
                      <td>Date:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Type:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Patient health status:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Sequencer name:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Sequencer model:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Reference genome:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Qual:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Filter:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Genotype:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Genotype quality:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Reads depth:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Ref:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Alt filtered reads:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Genotype likelihood:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Haplotype score:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Strand Bias:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Variant -->
      <div class="tab-pane fade" id="variant">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>chr:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>start:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>end:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>ref:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>alt:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pathogenicity -->
      <div class="tab-pane fade" id="pathogenicity">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SIFT:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>polyPhen-2:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Mutation taster:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Mutation assessor:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>GERP++:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>phyloP:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>SiPhy:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Gene -->
      <div class="tab-pane fade" id="gene">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Gene:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Region:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Mutation:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>Annotation:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ESP -->
      <div class="tab-pane fade" id="esp">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ESP6500_ALL:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>ESP6500_AA:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>ESP6500_EA:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- dbSNP -->
      <div class="tab-pane fade" id="dbsnp">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>dbSNP:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>FreqAlt:</td>
                      <td class="text-center">5</td>
                    </tr>
                    <tr>
                      <td>FreqRed:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Patient -->
      <div class="tab-pane fade" id="patient">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ID:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Family -->
      <div class="tab-pane fade" id="family">
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                
              <div class="box-content">
                <table class="table beauty-table table-hover">
                  <thead>
                    <tr>
                      <th class="col-xs-3">&nbsp;</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td class="text-center">5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</div>
</div>



<script>
$(document).ready(function() {
  // Run beauty tables plugin on every table with class .beauty-table
  $('.beauty-table').each(function(){
    // Run keyboard navigation in table
    $(this).beautyTables();
    // Nice CSS-hover row and col for current cell
    $(this).beautyHover();
  });
  // Attach to click action for create JSON data from tables.
  $('.beauty-table-to-json').on('click', function(e){
    e.preventDefault();
    var table = $(this).closest('.box').find('table');
    Table2Json(table);
  });
  // Add Drag-n-Drop feature
  WinMove();
});
</script>





