<div ng-show="global.user.roles.indexOf('admin') > -1">

<div class="row">
  <h1 class="section-header">Sequencing Upload History</h1>  

  <hr>
</div>

<div class="row">
  <h4>These are all the uploads you have done:</h4>
  
  <!-- style="height: 500px; overflow-y: auto; margin-top: 50px" -->
  <div class="row" >

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="upload in uploads"> 
        <td>{{upload.name}</td>
        <td>{{upload.date}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-trash" ></span> Delete
          </button>
        </td>                  
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
</div>

</div>

</div>