

  <div class="row">
    <h1 class="section-header">My profile
    <button type="button" class="btn btn-primary btn-xs" ui-sref="dashboard.editProfile">
        <span class="glyphicon glyphicon-edit"></span> Edit profile
    </button></h1>  


    <hr>
  </div>

  <div class="row" ng-controller="ProfileCtrl">
    <div class="col-xs-12 col-sm-12 col-lg-9 col-xs-offset-0 col-sm-offset-0 toppad" >     
      <div>
        <div class="panel-heading">
          <h2>{{ _user.name }}</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-lg-4" align="center"> 

            <span gravatar name="{{ global.user.name }}" email-hash="{{ emailHash }}" width="150" height="150"></span>
            
            <br></br></div>
            
            <div class="col-md-8 col-lg-8"> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td class="col-lg-4"> Username:</td>
                    <td>{{ _user.username }}</td>
                  </tr>
                  <tr>
                    <td>First Name:</td>
                    <td id="firstNameField">{{ _user.firstName }}</td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td id="lastNameField">{{ _user.lastName }}</td>
                  </tr>
               
                  <tr>
                  <tr>
                    <td>Address:</td>
                    <td id="addressField">{{ _user.address }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td id="emailField">{{ _user.email }}</td>
                  </tr>
                    <td>Phone Number:</td>
                    <td id="phoneField">{{ _user.phone }}
                    </td>
                       
                  </tr>
                 
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
