<link rel="stylesheet" type="text/css" href="/public/dashboard/assets/css/dropzone/basic.css">
<link rel="stylesheet" type="text/css" href="/public/dashboard/assets/css/dropzone/dropzone.css">

<script type="text/javascript" src="/public/system/lib/angular-md5/angular-md5.js"></script>

<div class="col-lg-11">

<div class="row">
  <h1 class="section-header">My profile</h1>  

  <hr>
</div>


  <div class="row" ng-controller="ProfileCtrl">
    <div class="col-xs-12 col-sm-12 col-lg-9 col-xs-offset-0 col-sm-offset-0 toppad" >     
      <div>
        <div class="panel-heading">
          <h2>{{global.user.name}}</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3" align="center"> <img alt="User Pic" class="img-circle img-responsive"> <br></br></div>
            
            <div class="col-md-9 col-lg-9"> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td class="col-lg-4"> Username:</td>
                    <td>{{global.user.username}}</td>
                  </tr>
                  <tr>
                    <td>First Name:</td>
                    <td id="firstNameField">{{global.user.firstName}}</td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td id="lastNameField">{{global.user.lastName}}</td>
                  </tr>
               
                  <tr>
                  <tr>
                    <td>Address:</td>
                    <td id="addressField">{{global.user.address}}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td id="emailField">{{global.user.email}}</td>
                  </tr>
                    <td>Phone Number:</td>
                    <td id="phoneField">{{global.user.}}
                    </td>
                       
                  </tr>
                 
                </tbody>
              </table>
              
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary btn-sm" ui-sref="dashboard.editProfile" style="float: right">
            <span class="glyphicon glyphicon-edit"></span> Edit profile
          </button>
          <input type="button" onclick="fill()" value="Fill!"/>
        </div>
    </div>
    </div>
  </div>

<!-- DONE -->
</div>