<link href="public/system/assets/css/aboutUs.css" rel="stylesheet">


<section class="main content-section" style="margin-top: 50px">

    <div class="row text-center container-about">
      <h1><b>Realized by...</b></h1>

      <div class="col-md-4 text-center" style="margin-top: 50px">
        <img class="img-circle img-responsive" src="public/system/assets/img/Davide_Sicignani.jpg">
        <h2><b>Davide Sicignani</b></h2>
      </div>
      <div class="col-md-4 text-center" style="margin-top: 50px">
        <img class="img-circle img-responsive" src="public/system/assets/img/Davide_Sicignani.jpg">
        <h2><b>Ugo Buonadonna</b></h2>
      </div>
      <div class="col-md-4 text-center" style="margin-top: 50px">
        <img class="img-circle img-responsive" src="public/system/assets/img/Damian_Tosoni.jpg">
        <h2><b>Damian Tosoni</b></h2>
      </div>
    </div>

    <div class="row text-center" style="margin-top: 100px">
      <div class="col-lg-10 col-lg-offset-1">
        <h1><b>CSS Mendel</b></h1>
        <!--<img src="public/auth/assets/img/images/HEADER_CSSMendel.jpg" class="img-responsive">-->
        <h3>Studiare, diagnosticare e prevenire le malattie genetiche ed eredo-familiari</h3>
        <div class="row">
          <div class="col-md-4">
            <img src="public/system/assets/img/RicercaScientifica.jpg" class="img-responsive">
            <h3>Scientific research</h3>
          </div>
          <div class="col-md-4">
            <img src="public/system/assets/img/Laboratorio.jpg" class="img-responsive">
            <h3>Specialized laboratory of Medical Genetics</h3>
          </div>
          <div class="col-md-4">
            <img src="public/system/assets/img/Ambulatori.jpg" class="img-responsive">
            <h3>Ambulatories</h3>
          </div>
        </div>
        <p>Visit our official site by clicking <a href="http://www.css-mendel.it/" target="_blank">here</a>.</p>
      </div>
    </div>

    <div class="row">
      <!-- Small modal -->
      <div class="container">
          <div class="row controls-groups">
               <h1 class="text-center"><a href="mailto:dav.sicignani@stud.uniroma3.it" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact Us</a></h1>
               <h1 class="text-center"><a href="https://github.com/thekage91/web-snp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
               </h1>

          </div>
      </div>
    </div>
</section>