    
<section class="main content-section">
        <!--
        <div class="col-lg-10 col-lg-offset-1">
            <div class="header text-center">
                <h1> </h1>
                ABOUT US
            </div>
            <div class="container">
                <div class="row"><h2> </h2></div>
                <div class="row">
                <div class="col-md-2">
                    <img src="public/system/assets/img/user.png" class="img-responsive">
                </div>
                <div class="col-md-8"> <h2>Damian Tosoni</h2>"Lorem ipsum dolor sit amet, ..."</div>
                </div>
                <div class="row"><h3> </h3></div>
                <div class="row">
                <div class="col-md-2">
                    <img src="public/system/assets/img/user.png" class="img-responsive">
                </div>
                <div class="col-md-8"> <h2>Davide Sicignani</h2>"Lorem ipsum dolor sit amet, ..."</div>
                </div>
                <div class="row"><h3> </h3></div>
                <div class="row">
                <div class="col-md-2">
                    <img src="public/system/assets/img/user.png" class="img-responsive">
                </div>
                <div class="col-md-8"> <h2>Ugo Buonadonna</h2>"Lorem ipsum dolor sit amet, ..."</div>
                </div>
                <div class="row"><h3> </h3></div>
            </div>
        </div>-->

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                      <img src="public/system/assets/img/user.png" alt="..." class="img-circle">
                      <div class="caption">
                        <h3>Davide Sicignani</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                      <img src="public/system/assets/img/user.png" alt="..." class="img-circle">
                      <div class="caption">
                        <h3>Ugo Buonadonna</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                      <img src="public/system/assets/img/user.png" alt="..." class="img-circle">
                      <div class="caption">
                        <h3>Damian Tosoni</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Feel free to email us to provide some feedback on our work, give us suggestions for new functionalities, or to send us a work request!</p>
                    <p>prova@gmail.com</p>
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/DamianTosoni" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/thekage91/web-snp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="https://www.facebook.com/profile.php?id=100000830756437&fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>