<!--<section data-ng-controller="IndexController">
    <h1 mean-token="'home-default'">Welcome to the SNP Web Portal! :)</h1>
</section> -->


    <!--<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <section id="intro" class="container content-section text-center">
        <div class="row" style="margin-top: -100px">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">SNP Web Portal</h1>
                <p class="intro-text">Our tools at your service</p>
                <div class="page-scroll">
                    <a href="/#!/info#tutorial" class="btn btn-circle text-center">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <h3>Start Tutorial</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="tutorial" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>TUTORIAL</h1>
                Mostrare le funzioni ed i passi per fare le cose (...)
            </div>
        </div>
    </section>



    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

