<link href="public/system/assets/css/info.css" rel="stylesheet">

<body>
    <section id="intro" class="container content-section-info" style="margin-left: 130px">
        <div class="row text-center" style="margin-left: -30px">
            <div class="col-md-9 col-md-offset-2">
                <div class="title">SNP Web Portal</div>
                <h3 style="margin-bottom: 70px">Our tools at your service</h3>
                <div class="description">The Web Portal is carried out to <i>help biologists</i> understanding,
                having an ad-hoc organized database, when a particular <b>SNP</b> (<i>Single Nucleotide Polymorphism</i>) can cause diseases or not.
                <br>It allows them to store and retrieve SNP genomics variants from a common database.
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 130px; margin-left: 60px">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="subtitle">Functions overview</div>
                <div class="text" style="margin-top: 30px">Portal main functions are divided into two groups, depending on the privilege
                level of the user who use the system at the time:<br>
                <div class="description" style="margin-top: 30px"><b>Super User</b></div><br>
                The Super User is the user with the highest action privilege, in fact it is in full
                possession of all the functionalities of the system.<br>
                As such, it can:<br>
                • create a “family” with one or more members<br>
                • authorize users<br>
                • modify inserted values<br>
                Basically, it can add, modify and enter the values it wants to. Obviously, the
                Super User can perform all the activities that Authorized User can do.<br>
                <div class="description" style="margin-top: 30px"><b>Authorized User</b></div><br>
                The Authorized User is the one with a lower degree of privilege, so it can not
                perform all the typical actions of the Super User, such as edit and insert.<br>
                It only can:<br>
                • search for a patient<br>
                • search for a gene<br>
                • search for a mutation<br>
                • . . .<br>
                The authorized user is someone who can query the portal, but who can not modify
                any values.<br>
                The distinction between types of users has been designed to provide a control mechanism
                against unwanted anomalies; in fact, if a biologist is interested in making simple queries
                to the system, he is able to do it in a way that no changes or accidental deletions occurs.
                </div>
            </div>
        </div>

        <h1 class="text-center" style="margin-top: 50px"><a href='public/system/views/Widget_Grafica/Widget.html' role="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-info-sign">&nbsp;</span>What is a SNP?</a></h1>
    </section>
</body>