<link href="public/system/assets/css/info.css" rel="stylesheet">

<body>
    <section id="intro" class="container content-section-info" style="margin-left: 100px">
        <div class="row text-center" style="margin-top: -100px">
            <div class="col-md-8 col-md-offset-2">
                <div class="title">TUTORIAL</div>
            </div>
        </div>

        <div class="row">                       
          <div class="col-lg-10 col-lg-offset-1 text-center" style="margin-top: 30px">
            <a href='/#!/tutorial#login' role="button" class="btn btn-primary btn-lg text-center">Login</a>
            <a href='/#!/tutorial#register' role="button" class="btn btn-primary btn-lg text-center">Register</a>
            <a href='/#!/tutorial#sequencingUpload' role="button" class="btn btn-primary btn-lg text-center">Sequencing upload</a>
            <a href='/#!/tutorial#sequencingEdit' role="button" class="btn btn-primary btn-lg text-center">Sequencing edit</a>
            <a href='/#!/tutorial#authorizeUsers' role="button" class="btn btn-primary btn-lg text-center">Authorize users</a>
            <a href='/#!/tutorial#family' role="button" class="btn btn-primary btn-lg text-center">Create a family</a>
            <a href='/#!/tutorial#queries' role="button" class="btn btn-primary btn-lg text-center">Execute queries</a>
            <a href='/#!/tutorial#queries' role="button" class="btn btn-primary btn-lg text-center">Altro che viene in mente...</a>
          </div>
        </div>
    </section>

    <section id="login" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Login</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="register" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Register</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="sequencingUpload" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Sequencing upload</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="sequencingEdit" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Sequencing edit</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="authorizeUsers" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Authorize users</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="family" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Create a family</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

    <section id="queries" class="container content-section-info" style="margin-left: 100px">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="subtitle">Execute queries</div>
          <div class="text" style="margin-top: 30px">Mostrare le funzioni ed i passi per fare le cose (...)</div>
        </div>
    </section>

</body>