<!DOCTYPE html>
<html>
 <head> 
  <title>Widget</title> 
  <style>
    body{
      margin: 0;
      overflow: hidden;
    }
    #menu {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }
    #stats {  /* Align stats top-left */
      position: absolute;
      left: 0px;
      top: 0px;
    }
    button {
        color: rgba(127,255,255,0.75);
        background: transparent;
        outline: 1px solid rgba(127,255,255,0.75);
        border: 0px;
        padding: 5px 10px;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(0,255,255,0.5);
      }
      button:active {
        color: #000000;
        background-color: rgba(0,255,255,0.75);
      }
  </style> 

  <!-- JavaScript libraries -->
  <script src="libs/jquery.min.js"></script> 
  <script src="libs/three.min.js"></script>
  <script src="libs/Stats.min.js"></script>
  <script src="libs/dat.gui.min.js"></script>
  <script src="libs/TrackballControls.js"></script>
  <script src="libs/tween.min.js"></script>
  <script src="libs/OBJLoader.js"></script>
  <script type="text/javascript" src="libs/helvetiker_regular.typeface.js"></script> 
  <script type="text/javascript" src="libs/helvetiker_bold.typeface.js"></script> 
  <script type="text/javascript" src="libs/bitstream_vera_sans_mono_roman.typeface.js"></script>
  <script src="libs/keyframe.js"></script>
  <script src="libs/CurveExtras.js"></script>

  <script src="adenine.js"></script>
  <script src="cytosine.js"></script>
  <script src="thymine.js"></script>
  <script src="guanine.js"></script>
  </head>

  <body>
    <div id="menu">
      <button id="animation">Show Animation</button>
    </div>
  <!-- Javascript code --> 
  <script>
    //once everything is loaded, we run our Three.js stuff.
    $(function () {

      var stats = initStats();

      // create a scene, that will hold all our elements such as objects, cameras and lights.
      var scene = new THREE.Scene();

      // create a camera, which defines where we're looking at.
      var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);

      // create trackball controls
      var trackballControls = new THREE.TrackballControls(camera);

      // create a render and set the size
      var webGLRenderer = new THREE.WebGLRenderer();
      //webGLRenderer.setClearColor(new THREE.Color(0xeeeeee, 1.0));
      webGLRenderer.setClearColor(new THREE.Color(0x303739, 1.0));
      webGLRenderer.setSize(window.innerWidth, window.innerHeight);

      // position and point the camera to the center of the scene
      camera.position.set(0, 0, 500);
      camera.lookAt(new THREE.Vector3(0, 0, 0));

      // add the output of the renderer to the html element
      $('body').append(webGLRenderer.domElement);


      
      //Function to create a couple of nitrogenous bases
      function createCouple (bases) {
        var couple = new THREE.Object3D();

        var baseL;
        var baseR;
        var baseLeft = bases[0];
        var baseRight = bases[1];

        switch(baseLeft) { 
  
          case "adenine": 
            baseL = createAdenine(basesLength, basesRadius);
          break;

          case "thymine": 
            baseL = createThymine(basesLength, basesRadius);
          break;
          
          case "cytosine": 
            baseL = createCytosine(basesLength, basesRadius);
          break;

          case "guanine": 
            baseL = createGuanine(basesLength, basesRadius);
          break;

          default: 
            baseL = createGuanine(basesLength, basesRadius);
        }

        switch(baseRight) { 
  
          case "adenine": 
            baseR = createAdenine(basesLength, basesRadius);
          break;

          case "thymine": 
            baseR = createThymine(basesLength, basesRadius);
          break;
          
          case "cytosine": 
            baseR = createCytosine(basesLength, basesRadius);
          break;

          case "guanine": 
            baseR = createGuanine(basesLength, basesRadius);
          break;

          default: 
            baseR = createCytosine(basesLength, basesRadius);
        }

        baseL.rotation.z = Math.PI/2;
        baseL.position.set(0, -basesLength + basesRadius/2, 0);
        baseL.castShadow = true;
        couple.add(baseL);

        baseR.rotation.z = Math.PI/2;
        baseR.position.set(0, 0, 0);
        baseR.castShadow = true;
        couple.add(baseR);

        return couple;
      }



      //Function to create the supercoil
      function createSupercoil(numberOfElements, couplesList) {
        var supercoil = new THREE.Object3D();

        //positionsObj rappresenta l'array di coppie dove poi le basi azotate andranno dopo l'animazione
        positionsObj = [];

        var previous = createCouple(couplesList[0]);

        positionsObj.push(previous);
        supercoil.add(previous);

        for (var i = 1; i < numberOfElements; i++) {
          var currentCouple = createCouple(couplesList[i]);

          currentCouple.position.x += basesRadius*4;
          currentCouple.rotation.x = Math.PI*1/6;

          previous.add(currentCouple);

          previous = currentCouple;
          positionsObj.push(previous);
        }

        return supercoil;
      }



      function addGeometry(geometry, color) {
        //3D shape
        tubeMesh = THREE.SceneUtils.createMultiMaterialObject( geometry, [
          new THREE.MeshBasicMaterial({
            color: color,
            transparent: true,
            side: THREE.DoubleSide
          }),
          new THREE.MeshBasicMaterial({
            color: 0xed3403,
            opacity: 0.3,
            //wireframe: true,
            transparent: true
        })]);

        return tubeMesh;
      }



      //Function that creates an array of random object3d to scatter the nitrogenous bases once you click on the button animated
      function randomizePositionObject(){
          var randomObjPositions = [];
          var randomObj = new THREE.Object3D();

          for(var i = 0; i < 31; i++){
            var x = Math.random() * 4000 - 2000;
            var y = Math.random() * 4000 - 2000;
            var z = Math.random() * 4000 - 2000;
            randomObj.position.set(x,y,z);
            randomObjPositions.push(randomObj);
          }
          return randomObjPositions;
      }



      function initStats() {
        var stats = new Stats();
        stats.setMode(0); // 0: fps, 1: ms
        $('body').append(stats.domElement);
        return stats;
      }

      

      //Animations
      var animator = null;
      var duration = 5; //sec
      var loopAnimation = true;

      function transform(objects, targets, duration) {
        TWEEN.removeAll();

        for ( var i = 0; i < objects.length; i ++ ) {

          var object = objects[ i ];
          var target = targets[ i ];

          new TWEEN.Tween( object.position )
            .to( { x: target.position.x, y: target.position.y, z: target.position.z }, duration )
            .easing( TWEEN.Easing.Exponential.InOut )
            .start();

          new TWEEN.Tween( object.rotation )
            .to( { x: target.rotation.x, y: target.rotation.y, z: target.rotation.z }, duration )
            .easing( TWEEN.Easing.Exponential.InOut )
            .start();
        }
      }



      function movingCamera(duration){
        var target = new THREE.Vector3(600,0,200);

        var movingRight = new TWEEN.Tween( camera.position )
            .to( { x: target.x }, duration*2 )

        new TWEEN.Tween( camera.position )
            .to( { z: target.z }, duration )           
            .easing( TWEEN.Easing.Quadratic.In )
            .chain(movingRight)
            .start();

        setTimeout(function(){  new TWEEN.Tween( camera.position )
                                .to({ x: target.x/2 }, duration*2)
                                .easing( TWEEN.Easing.Quadratic.In )
                                .start(); 
                                 step = 0;} , duration*3);
       
      }



      // Le basi rigurdanti saranno le numero 15, per esempio
      function animateSNP(duration, oldCouple){
        
        var target = new THREE.Vector3(0,0,30);

        var movingForward1 = new  new TWEEN.Tween( oldCouple.children[0].position )
            .to( { z: target.z }, duration )

        var movingForward2 = new TWEEN.Tween( oldCouple.children[1].position )
            .to( { z: target.z }, duration )
            .easing( TWEEN.Easing.Quadratic.In )
            .chain(movingForward1)
            .start();

        /* in questo punto dovrebbero comparire due nuove basi azotate vicino quuelle vecchie che si
        sono spostate avanti. Per far questo basta usare la funzione trasforms.... 
        passndo un array (object) contenente le due nuove basi disperse da qualche parte
        e un altro array (targets) che rappresenta la nuova posizione delle nuove basi azotate, ovvero vicino 
        a quelle vecchie. Potrebbe essere (xVecchie + 10 , 0,30)
        */

        var newPosition = new THREE.Vector3(10,0,0); //posizione nuova per le vecchie basi
        var oldPosition = new THREE.Vector3(oldCouple.children[0].position.x , 0,0); // posizione nuova per le basi appena entrate

        /* le basi vecchie si spostano */
        var removeOldBase1 = new  new TWEEN.Tween( oldCouple.children[0].position )
            .to( { x: newPosition.x}, duration );

        var removeOldBase2 = new  new TWEEN.Tween( oldCouple.children[1].position )
            .to( { x: newPosition.x}, duration );
        /***********/

        /* Le nuove basi si mettono al posto di quelle vecchie */
        var  putNewBase1 = new  new TWEEN.Tween( new_couple.children[0].position )
            .to( { x: oldPosition.x}, duration );

        var putNewBase2 = new TWEEN.Tween( new_couple.children[1].position )
            .to( { x: oldPosition.x }, duration )
            .easing( TWEEN.Easing.Quadratic.In )
            .chain(movingForward1)
            .chain()
            .start();
        /***********/
      }



      function animateScene(duration){
        var targetPos = randomizePositionObject();
        var subjectPos = positionsObj;

        movingCamera(4000); // la camera di sposta
        // vedere come evidenziare
        //transform(subjectPos , targetPos , duration); // le altre basi azotate non evidenziate vanno via (eliminare la numero 15)  
        //animateSNP(2000); // si scambiano
        //newBasesEnter();

        // rimettiamo le cose al loro posto, le altri basi tornano
        /*setTimeout( function() {  for(var i = 0; i < 31; i++){
                                    subjectPos[i].position = targetPos[i].position;
                                  }
                                  transform(targetPos, subjectPos, duration); 
                                } , duration);*/
      }
      


      function animate() {
        stats.update();
        trackballControls.update();

        camera.lookAt(new THREE.Vector3(camera.position.x , camera.position.y , camera.position.z));

        globalStructure.rotation.x += step;

        KF.update();
        TWEEN.update();
        //render using requestAnimationFrame
        requestAnimationFrame(animate);
        webGLRenderer.render(scene, camera);
      }



      function newBasesEnter() {
        oldCouple = positionsObj[15];
        // oldCouple.childer[0] e' la prima base azotate
        // oldCouple.childer[1] e' la seconda base azotate
        // oldCouple.childer[2] sono tutte quelle che vengono dopo

        //New couple, the one caused by SNP
        new_couple = createCouple(["adenine","thymine"]);
        new_couple.position.x += 500;
        new_couple.position.y += 50;
        new_couple.position.z += 50;
        scene.add(new_couple);

        animator = new KF.KeyFrameAnimator;
        animator.init({ 
          interps:
            [
              { 
                keys:[0, .2, 1], 
                values:[
                  {z: new_couple.position.z},
                  {z: new_couple.position.z - new_couple.position.z/2},
                  {z: oldCouple.position.z},
                ],
                target:new_couple.position
              },
            ],
          loop: loopAnimation,
          duration: duration * 1000,
          easing: TWEEN.Easing.Circular.In
        });
      }


      //VARIABLES
      var basesLength = 50;
      var basesRadius = 5;
      var segments = 400;
      var tubeRadius = 3.5;
      var radiusSegments = 12;
      var tubeMesh1;
      var tubeMesh2;
      var button;
      var step = 0.02;
      var couplesList;
      var axisHelper = new THREE.AxisHelper(3);
      scene.add(axisHelper);
      

      button = document.getElementById( 'animation' );

      button.addEventListener( 'click', function ( event ) {
        animateScene(2000);
      }, false );

      //Basis Creation
      couplesList = [["adenine","thymine"],["guanine","cytosine"],["guanine","cytosine"],["adenine","thymine"],["adenine","thymine"],["adenine","thymine"],["guanine","cytosine"],["guanine","cytosine"],["guanine","cytosine"],["guanine","cytosine"],["guanine","cytosine"],["guanine","cytosine"],["adenine","thymine"],["guanine","cytosine"],["adenine","thymine"],["adenine","thymine"],["adenine","thymine"],["guanine","cytosine"],["adenine","thymine"],["adenine","thymine"],["guanine","cytosine"],["guanine","cytosine"],["adenine","thymine"],["guanine","cytosine"],["guanine","cytosine"],["adenine","thymine"],["adenine","thymine"],["adenine","thymine"],["adenine","thymine"],["guanine","cytosine"],["adenine","thymine"]];

      DNA = createSupercoil(31, couplesList);

      
      //DNA Strands Creation
      globalStructure = new THREE.Object3D();

      extrudePath = new THREE.Curves.HelixCurve();

      tube = new THREE.TubeGeometry(extrudePath, segments, tubeRadius, radiusSegments, false, false);

      tubeMesh1 = addGeometry(tube, 0xff3200);
      tubeMesh1.scale.set(2, 2, 2);
      tubeMesh1.rotation.y = Math.PI/2;
      tubeMesh1.rotation.z = -Math.PI/2;
      tubeMesh1.position.x += -tubeRadius;

      tubeMesh2 = addGeometry(tube, 0x007bff);
      tubeMesh2.scale.set(2, 2, 2);
      tubeMesh2.rotation.y = Math.PI/2;
      tubeMesh2.rotation.z = Math.PI/2;
      tubeMesh2.position.x += -tubeRadius;
      
      DNA.position.x += basesRadius/2;

      globalStructure.add(DNA);
      globalStructure.add(tubeMesh1);
      globalStructure.add(tubeMesh2);

      scene.add(globalStructure);

      animate();      
    });
  </script>
 </body>

</html>
